
.logo{
    width: 50px;
    margin: 20px;


}


main{
    align-items: auto;
    display: flex;
    padding: 30px;
    background: linear-gradient(#FEFEFE, #888888);
}

#resultado, #encriptador{
    /* background-color: red; */
    width: 45%;
    margin-right: 60px;
    padding: 30px; 

}

.ingreso, .visor-resultado{
    width: 100%;
    background-color: transparent;
}

.botones{
    /* background-color: aqua; */
    align-items: flex-start;
    
}

.adv{
    margin-top: 20px;
    display: inline-block;
    width: 10px;
    font-size: x-small;
} 

.advDos{
    margin-top: 20px;
    display: inline-block;
    font-size: x-small;
}

.botonE, .botonD{
    width: 40%;
    margin: 10px 0 0 20px;
    padding: 12px 0;
    font-size: 12px;
    font-weight: bold;
    border:none;
    border-radius: 30px;
    transition: 1s all;
    cursor:pointer;
}

.botonE{
    color:white;
    background: #3e3e41;
}

.botonE:hover{
    background: gray;  
}

.botonD{
    color:black;
    background: lightgray;
}

.botonD:hover{
    background: white;
}





.visor-resultado{
    border: none;
    background-image: url("imagenes/nave.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;

}

.mensaje-resultado{
    text-align: center;
    font-weight: bold;
}

.copiar{
    display: none;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
}


footer{
    width: 100%;
    background-color: gray;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width:1000px){

    main, footer{
        width: auto;
        margin: auto;
        display: block;
    }

    .botonD, .botonE{       
        width: 40%;
    }
    
    .visor-resultado{
        background-size: 35%;
    }

    .mensaje-resultado{
        font-size: auto;
    }
    #resultado, #encriptador{
        align-items: center;
        width: 90%;
    }

}