
.logo{
    width: 100px;
    margin: 20px;


}


main{
    align-items: auto;
    display: flex;
    margin-left: 10%;
    padding: 30px;
}

#resultado, #encriptador{
    /* background-color: red; */
    width: 45%;
    margin-right: 60px;
    padding: 30px; 

}

.ingreso, .visor-resultado{
    width: 100%;
}

.botones{
    /* background-color: aqua; */
    align-items: flex-start;
    
}

.advertencia{
    /* background-color: yellow; */
}

.adv, .advDos{
    margin-top: 20px;
    display: inline-block;
}

.botonE, .botonD{
    width: 40%;
    margin: 10px 0 0 20px;
    padding: 12px 0;
    font-size: 12px;
    font-weight: bold;
    border:none;
    border-radius: 30px;
    transition: 1s all;
    cursor:pointer;
}

.botonE{
    color:white;
    background: darkblue;
}

.botonE:hover{
    background: blue;  
}

.botonD{
    color:black;
    background: lightgray;
}

.botonD:hover{
    background: gray; 
    color:lightgray; 
}





.visor-resultado{
    border: none;
    background-color: #ffffff;
    background-image: url("imagenes/Muñeco.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;

}

.copiar{
    display: none;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
}


footer{
    width: 100%;
    background-color: darkblue;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width:1000px){

    main, footer{
        width: auto;
        margin: auto;
        display: block;
    }

    .botonD, .botonE{       
        width: 40%;
    }
    
    #resultado, #encriptador{
        align-items: center;
        width: 90%;
    }

}